<!-- Josh Jansen
     Josh Cantie -->

<!-- Citation for the following code                 -->
<!-- Date: 11/27/2023                                -->
<!-- Adapted from Node.js starter guide, Step 4      -->
<!-- Used information from the page and adapted code -->
<!--   to display data dynamically in the page with  -->
<!--   with Handlebars.                              -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <title>Courses</title>
</head>
    
    <!-- Nav bar-->
    <nav>
        <a href="/" class="home-link">Home</a>
        <a href="/students">Students</a>
        <a href="/courses">Courses</a>
        <a href="/courseenrollments">CourseEnrollments</a>
        <a href="/professors">Professors</a>
        <a href="/professorassignments">ProfessorAssignments</a>
        <a href="/departments">Departments</a>
    </nav>
    
    <br>

    <!-- Add Button -->
    <script src="./js/courses/course_forms.js"></script>
    <button class="add-new-button" onclick="enableAddCourseForm(); disableUpdateCourseForm()">Add New Course</button>

    <!-- Table -->
    <table id="courses-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr data-value={{this.[Course ID]}}>
                <td>{{this.[Course ID]}}</td>
                <td>{{this.[Department Name]}}</td>
                <td>{{this.[Course Name]}}</td>
                <td>{{this.[Credit Hours]}}</td>
                <td>{{this.[Course Description]}}</td>
                <td>
                    <a href="#" onclick="startUpdateReq({{this.[Course ID]}}); enableUpdateCourseForm(); 
                    disableAddCourseForm()" class="edit-delete">Edit</a>
                </td>
                <td>
                    <a href="#" onclick="confirmDelete({{this.[Course ID]}})" class="edit-delete">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/courses/delete_course.js"></script>

    <!-- Add New Course -->
    <div id="add-course-div" style="display: none;">
        <form id="add-course-form" class="form" method="POST" action="/courses">
            
            <legend class="form-legend">Add Course</legend>

            <!-- Department Name -->
            <label class="form-label" for="department_id">Department Name:</label>
            <select name="department_id" id="department_select" required>
                <option value="">--Select a Department--</option>
                <option value="0">NULL</option>
                {{#each departments}}
                <option value={{this.[Department ID]}}>{{this.[Department Name]}}</option>
                {{/each}}
            </select>
            
            <br>
            <br>

            <!-- Course Name -->
            <label class="form-label" for="course_name">Course Name</label>
            <input class="text-input" type="text" name="course_name" id="course_name" required="required"
                pattern="[^\x22\x27]+" title="You cannot use quotations marks in your entry.">

            <!-- Credit Hours -->
            <label class="form-label" for="credit_hours">Credit Hours</label>
            <input class="text-input" type="number" min="1" max="100" name="credit_hours" id="credit_hours" required="required">

            <!-- Course Description -->
            <label class="form-label" for="course_description">Course Description</label>
            <input class="text-input" type="text" name="course_description" id="course_description" required="required"
                pattern="[^\x22\x27]+" title="You cannot use quotations marks in your entry.">
 
            <!-- Submit and cancel buttons -->
            <input class="form-submit" type="submit">
            <button type="button" onclick="disableAddCourseForm()" class="form-cancel">Cancel</button>
        </form>
    </div>

    <!-- Update Course -->
    <div id="update-course-div" style="display: none;">
        <form id="update-course-form-ajax" class="form">

            <legend class="form-legend">Update Course</legend>

            <!-- Course ID -->
            <p class="form-label">Course ID:</p>
            <p class="form-label" id="update_course_id_label"></p>

            <!-- Department Name -->
            <label class="form-label" for="update_course_department_id">Department Name:</label>
            <select name="update_course_department_id" id="update_course_department_select" required>
                <option value="">--Select a Department--</option>
                <option value="0">NULL</option>
                {{#each departments}}
                <option value={{this.[Department ID]}}>{{this.[Department Name]}}</option>
                {{/each}}
            </select>

            <br>
            <br>

            <!-- Course Name -->
            <label class="form-label" for="course_name">Course Name</label>
            <input class="text-input" type="text" name="course_name" id="update_course_course_name" required="required"
                pattern="[^\x22\x27]+" title="You cannot use quotations marks in your entry.">

            <!-- Credit Hours -->
            <label class="form-label" for="credit_hours">Credit Hours</label>
            <input class="text-input" type="number" min="1" max="100" name="credit_hours" id="update_course_credit_hours" required="required">

            <!-- Course Description -->
            <label class="form-label" for="course_description">Course Description</label>
            <input class="text-input" type="text" name="course_description" id="update_course_course_description" required="required"
                pattern="[^\x22\x27]+" title="You cannot use quotations marks in your entry.">

            <!-- Submit and cancel buttons -->
            <input class="form-submit" type="submit">
            <button type="button" onclick="disableUpdateCourseForm()" class="form-cancel">Cancel</button>
        </form>
        <script src="./js/courses/update_course.js"></script>
    </div>

</body>
</html>